<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYymq8kg6N99cYhyykNX-K65F0-4Z-uHY</string>
	<key>GCM_SENDER_ID</key>
	<string>355551553929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleIdm</string>
	<key>PROJECT_ID</key>
	<string>sample-idm-6a0f0</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-idm-6a0f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355551553929:ios:d6ae8aec60340d949e1958</string>
</dict>
</plist>